<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GDAL" version="1.11.1" targetFramework="net46" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net46" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net46" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="NuGet4Mono.Extensions" version="0.3.0" targetFramework="net46" />
  <package id="Terradue.GeoJson" version="1.8.6250" targetFramework="net46" />
  <package id="Terradue.ServiceModel.Ogc" version="1.1.6" targetFramework="net46" />
</packages>